@import url("../component-library/global.css");

.card {
  position: relative;
  overflow: hidden;
  width: 300px;
  padding: 0.5rem;
  background-color: white;
  text-align: center;
}
.wishlist-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}
.wishlist-icon {
  width: 1.2rem;
}
.image-container {
  background-color: var(--grey);
}
.card-image {
  width: 200px;
}
.card-text {
  margin: 0.5rem auto;
}
.card > button {
  width: 100%;
}
.card > h2 {
  color: var(--black-light);
}

.card-horizontal {
  display: flex;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
}

.card-horizontal-text {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.card-horizontal-text > button {
  margin: 0.3rem;
}
